# Çevre Değişkenleri ve Gizli Anahtarlar (Kesinlikle Commitlenmemeli)
.env
.env.local
.env.development
.env.production

# API Önbellek Dosyası (Gereksiz Yükleme Yapmamak İçin)
cache.json
api/cache.json

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

Arşiv.zip